In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('data/control_time_parquet.gzip')

In [17]:
df['total'] = df['streams1']*df['streams2']
df[['total', 'time']].groupby(by='total').mean().round(-1).reset_index().sort_values(['time', 'total'], ascending=[True, True]).head(10)

    total   time
16     80  440.0
35    312  440.0
44    676  440.0
19    100  450.0
21    112  450.0
24    140  450.0
25    144  450.0
37    364  450.0
40    448  450.0
46    832  450.0

In [20]:
df.query('total<=80').sort_values(['time', 'total'], ascending=[True, True])

     streams1  streams2  time  total
43          8        10   438     80
42          8         8   448     64
55         10         8   452     80
67         12         6   460     72
54         10         6   463     60
79         14         4   465     56
31          6        12   466     72
41          8         6   467     48
66         12         4   474     48
53         10         4   478     40
29          6         8   482     48
30          6        10   482     60
28          6         6   483     36
40          8         4   485     32
92         16         4   493     64
18          4        12   498     48
17          4        10   507     40
20          4        16   515     64
19          4        14   519     56
27          6         4   524     24
16          4         8   528     32
15          4         6   536     24
117        32         2   542     64
91         16         2   544     32
65         12         2   549     24
104        26         2   553     52
52         10         2   555     20
39          8         2   557     16
78         14         2   566     28
14          4         4   576     16
26          6         2   631     12
5           2        12   688     24
7           2        16   690     32
8           2        26   692     52
9           2        32   698     64
6           2        14   699     28
3           2         8   720     16
4           2        10   737     20
13          4         2   782      8
2           2         6   798     12
1           2         4   997      8
0           2         2  1799      4